.mainbox{
    background-color: #E9F4D2;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top:66px;
}

.menu{
    background-color: #E9F4D2;
    position: fixed;
    z-index: 1;
    /*have to add width to all devices*/

}
.main{
    background-color: #ECC97C;
    float: left;
}
.footer {
    background-color: #96726B;
    clear: both;
    width: 100%;
    text-align: center;
}
#menu-logo{
    background-color: #E9F4D2 ;
}

.menu>ul>li>a{
    text-decoration: none;
    color: #070707;
}
.mySlides {
    opacity: 50%;
    width: 100%;
}
@media only screen and (max-width: 510px){
    .menu{
        width:100%;
        height: 110px;
    }
    .header{
        width: 100%;
        overflow: hidden;
        padding-top: 120px ;
    }
    #menu-logo>img{

        height:60px;
    }
    .menu>ul>li{
        display:inline;
        padding: 10px 15px 10px 15px;
        background-color: #A08A7C;
        position: relative;
        top: 8px;
        right: 8px;


        font-family: Tahoma,serif;
        font-size: 12px;
    }
    .menu>ul>li.home-button{
        margin-left: 5px;
        float: right;
    }
}

@media only screen and (min-width: 510px) {
    .header{
        width: 100%;
        overflow: hidden;
        margin: 0;

    }
    .menu{
        width:100%;
        height: 80px;
    }
    .menu>ul>li{
        display:inline;
        padding: 10px 15px 10px 15px;
        background-color: #A08A7C;
        position: relative;
        top: 8px;
        right: 8px;


        font-family: Tahoma,serif;
        font-size: 12px;
    }
    #menu-logo>img{

        height:60px;
    }
    .menu>ul>li.home-button{
        margin-left: 5px;
        float: right;
    }
}


@media only screen and (min-width: 600px) {
    .menu{
        width:100%;
        height: auto;

    }
    .menu>ul>li{
        display:inline;
        padding: 10px 15px 10px 15px;
        background-color: #A08A7C;
        position: relative;
        top: 8px;
        right: 8px;


        font-family: Tahoma,serif;
        font-size: 14px;
    }
    #menu-logo>img{

        height:60px;
    }
    .menu>ul>li.home-button{
        margin-left: 5px;
        float: right;
    }
}



@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}





