.mainbox{
    background-color: #E9F4D2;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top:66px;
}
.header{
    width: 100%;
    overflow: hidden;
    margin: 0;
}
.menu{
    background-color: #E9F4D2;
    position: fixed;
    width:100%;
    z-index: 1;


}
.main{
    background-color: #ECC97C;
    float: left;
}
.footer {
    background-color: #96726B;
    clear: both;
    width: 100%;
    text-align: center;
}
.menu>ul>li.home-button{
    margin-left: 5px;
    float: right;
}
#menu-logo>img{

    height:50px;
}
#menu-logo{
    background-color: #E9F4D2 ;
}
.menu>ul>li{
    display:inline;
    padding: 10px 15px 10px 15px;
    background-color: #A08A7C;
    position: relative;
    top: 8px;
    right: 8px;


    font-family: Tahoma,serif;
    font-size: 14px;
}
.menu>ul>li>a{
    text-decoration: none;
    color: #070707;
}

.mySlides {
    opacity: 50%;
    width: 100%;

}





