.leftside{
    background-color: #f4e1a4;
    width: 20%;
    height: 100%;
    float: left;
}


.leftside>ul>li>a{
    text-decoration: none;
    color: #070707;
}

.main{
    background-color: #ECC97C;
    width: 80%;
    float: left;
}

.item{
    text-align: center;
}


@media only screen and (max-width: 510px) {
    .leftside>ul>li{
        padding: 10px 10px 10px 10px;
        position: relative;
        background-color: #A08A7C;
        right: 8px;
        margin-top: 8px;

        font-family: Tahoma,serif;
        font-size: 14px;
    }
    .row{
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 10px 30px;
    }
    .item>a>img{
        width: 100%;
    }
    .item>iframe{
        width: 100%;
    }
}


@media only screen and (min-width: 510px) {
    .leftside>ul>li{
        padding: 10px 10px 10px 10px;
        position: relative;
        background-color: #A08A7C;
        right: 8px;
        margin-top: 8px;

        font-family: Tahoma,serif;
        font-size: 14px;
    }
    .row{
        display: flex;
        justify-content: space-between;
        padding: 10px 10px 0 30px;
    }
    .item>a>img{
         height: 100px;
    }

}
@media only screen and (min-width: 600px) {

}






