.mainbox{
    background-color: #E9F4D2;
    width: 100%;
    margin: 0px auto;
}
.menu{
    background-color: #E9F4D2;
}
.leftside{
    background-color: blue;
    width: 15%;
    float: left;
}
.main{
    background-color: #ECC97C;
    width: 70%;
    float: left;
}
.rightside{
    background-color: lightgreen;
    width: 15%;
    float: left;
}
.footer {
    background-color: #96726B;
}
.menu>ul>li.home-button{
    margin-left: auto;
}
#menu-logo{

}
.menu>ul>li{
    display:inline;
    padding: 10px 10px 10px 10px;
    background-color: #A08A7C;
    position: relative;
    top: 8px;
    font-family: Tahoma,serif;
    font-size: 14px;
}
.menu>ul>li>a{
    text-decoration: none;
    color: #070707;
}

